.shop-nav {
  display: flex;
  align-items: center;

  &__item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__link {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &--user {
      background-image: url("../../img/user.png");
    }
  }

  .cart {
    width: auto;
    height: auto;

    &__icon {
      display: inline-block;
      width: 16px;
      height: 16px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url("../../img/basket.png");
    }

    &__quantity {

    }
  }

  .search-form {

    &__btn  {
      display: inline-block;
      width: 16px;
      height: 16px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url("../../img/loup.png");
    }
  }
}
