html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-weight: 500;
  font-family: "Jost", sans-serif;
  color: var(--color-dark);
  background-color: var(--color-white);
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-link {
  position: relative;
  font-size: 15px;
  color: var(--color-dark);

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -5px;
    height: 2px;
    background-color: currentColor;
    transition: width .3s;
    opacity: 0;
  }

  &:hover {
    &::before {
      opacity: 1;
      transition: opacity .3s;
    }
  }

  &--white {
    color: var(--color-white);
  }
}

.is-outer {
  position: relative !important; // stylelint-disable-line declaration-no-important
  left: -9999px !important; // stylelint-disable-line declaration-no-important
}

.site-container {
  overflow: hidden;
}

.stop-scroll {
  @include stop-scroll;
}

.is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}

.for-mobile {
  display: none;

  @include mobile {
    display: block;
  }
}

.error {
  border: 2px #ff4019 solid !important; // stylelint-disable-line declaration-no-important
}

.visually-hidden {
  @include visually-hidden;
}

.btn-reset {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 48px;
  //max-width: 1200px;
}

.container-narrow {
  max-width: 1406px;
}

.quantity {
  display: inline-flex;
  align-items: center;
  font-size: 10px;
  width: 16px;
  height: 16px;
  color: var(--color-white);
  font-weight: 700;
  padding: 0 5px;
  background-color: var(--color-dark);
  border-radius: 25px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}
